
.carousel {
 height: auto;
  padding: 50px 0;
  width: 100%;
  max-width: none;
  overflow: hidden;
  display: flex;
}
.carousel > * {
  flex: 0 0 100%;
}
.group {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  animation: scrolling 120s linear infinite;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.gcard {
  flex: 0 0 auto;
  width: 500px;
  height: 400px;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  overflow: hidden;
}
.gcard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
   padding: 40px 0;
  height: auto;
  background-color: #000000;
}

.gallery h1 {
  background-image: linear-gradient(to right, #f95bf6, #532cf9);
  background-clip: text;
  color: transparent;
  border-bottom: 5px solid #f3e247;
  display: inline-block;
  font-size: 50px;
}

@media (max-width: 768px) {
  .gallery h1 {
    background-clip: text;
    color: transparent;
    border-bottom: 5px solid #f3e247;
    padding: 10px;
    margin-bottom: 30px;
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 65vh;
    width: 100%;
  }
  .gcard
  {
      width: 250px;
      height: 200px;
  }
}