.hero {
  min-height: 85vh;      
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5%;
  margin-top: 75px;
}
.heroText {
  color: var(--text);
  height: fit-content;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
.heroText h1 {
  background-image: linear-gradient(to right, var(--primary) , var(--secondary));
  background-clip: text;
  color: transparent;
  font-size: 5rem;
  font-weight: bolder;
  margin-bottom: 30px;
  max-width: 900px;
  line-height: 1.2;
}
.heroText h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.heroText #subText {
  font-size: 1em;
  max-width: 500px;
  margin-bottom: 100px;
  font-weight: 400;
}
.heroImage img
{
  height: auto;
  width: 100%;
  max-width: 1000px;
  object-fit: cover;
}
.heroButtons {
  position: relative;
  top: -50px;
  transition: all 0.3s ease-in-out;
}
.heroButtons a {
  font-size: 25px;
  padding: 15px 15px;
  background-image: linear-gradient(to right, var(--primary) , var(--secondary));
  border-radius: 30px;
  text-decoration: none;
  color: var(--text);
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  margin: 0px 10px;
  font-weight: 600;
  
}
.heroButtons:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#typedText {
  display: inline-block;
  height: 40px;             
  overflow: hidden;
  vertical-align: bottom;
  position: relative;

}

/* stack words vertically */
#typedText .highlight {
  display: block;
  height: 45px;              
  line-height: 45px;
  color: var(--accent);           
  font-weight: 600;

}
 

@media (max-width: 1024px)
{
  .hero
  {
    min-height: 600px;
  }
    .heroText h1 {
      font-size: 3rem;
    }
    .heroText h2 {
      font-size: 2rem;
    }
    .heroText #subText {
      font-size: 1em;
    }
    .heroButtons a {
      font-size: 20px;
    }
    
   
}
@media (max-width: 768px) {
 
    /* Hero */
  .hero {
     padding: 0;
    scroll-margin-top: 100px;
    background-image: url("../assets/homepage/best-coaching-center-faridabad.png");
    min-height: 700px;
    flex-direction: column;
  }
  .heroText
  {
    max-width: 400px;
    padding: 20px 10px 0px;
  }
  .heroText h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 1.3;
  }
  .heroText #subHeading {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

  #subTextContainer {
    display : flex;
    text-align: center;
    height: 180px;
    padding: 20px;
  }
  .heroButtons {
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .heroButtons a {
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 30px;
    text-decoration: none;
    color: var(--text);
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
  }
  .heroImage {
    height: auto;
    width: 100%;
    max-width: 300px;
    object-fit: contain;
  }
}
