:root
{
    --primary: #532cf9;
    --secondary: #f95bf6;
    --accent: #facc15;
    --bg: #000000;
    --text: #ffffff;
}
.commerce
{
    --primary: #ff7700;
    --secondary: #f80000;
    --accent: #e5ff00;
    --bg: #000000;
    --text: #ffffff;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  overflow-x: hidden;
  background-color: var(--bg);
}

.commerce
{
  margin-top: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
  font-family: 'poppins', sans-serif;
  font-weight: 400;
}
.cursor
{
  height: 50px;
  width: 50px;
  background-image: url("../assets/homepage/cursor.png");
  background-size: cover;
  position: fixed;
  z-index: 999;
}
.fade-section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
  visibility: hidden;
}
.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 100px;
  }
  .vectorShape {
    width: 100vw;
    height: 100px;
    position: absolute;
    left: -20px;
    top: 83%;
  }
  #vector {
    width: 105%;
    min-height: 120px;
    max-height: 160px;
  }
}