.scroll-container {
    min-height: 100vh;
    display: flex;
}

#scroll-text {
    flex: 0 0 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scroll-text p {
    font-size: clamp(30px, 10vw, 150px);
    font-weight: bold;
    text-align: center;
    padding: 0 20px;
    line-height: 1.1;
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#scroll-text img{
    height: clamp(100px, 10vw, 300px);
    width: clamp(100px, 10vw, 300px);
}

@media (max-width: 768px) {
    #scroll-text p {
        font-size: clamp(30px, 12vw, 80px);
    }
}

@media (max-width: 480px) {
    #scroll-text p {
        font-size: clamp(24px, 14vw, 60px);
    }
}