.video {
   max-height: 800px; 
  min-height: 800px;   
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black; /* fallback background */
}

.video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;   /* THIS FIXES EVERYTHING */
  transform: translate(-50%, -50%);
  background-color: black; 
}

/* desktop video default */
#desktopVideo { display: block; }
#mobileVideo  { display: none; }

/* mobile switch */
@media (max-width: 768px) {
  #desktopVideo { display: none; }
  #mobileVideo  { display: block; }
}
