html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
  width: 100%;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

.navbarLogo {
  height: 100px;
  width: 120px;
  background-image: url("./assets/nextgenstudy.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbarButtons a {
  position: relative;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  padding: 5px;
  overflow-y: hidden;
  color: white;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.2s ease;
}
.navbarButtons a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 4px;
  background-image: linear-gradient(to left, red, orange);
  transition: width 0.3s ease;
}

.navbarButtons a:hover::after {
  width: 100%;
}
.navbarButtons #whatsapp {
  color: #33b133;
}
.menuButton {
  display: none;
  height: 20px;
  width: 20px;
}
.menuButton span {
  height: 4px;
  width: 25px;
  background-image: linear-gradient(to right, #f95bf6, #532cf9);

  display: block;
  margin: 5px 0;
}

.menuLinks {
  display: none;
}

.mobIcons {
  display: none;
}
/* Hero Section */
.hero {
  position: relative;
  gap: 50px;
  min-height: 90vh;
  width: 100%;
  background-image: url("./assets/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 50px 0 50px;
}
.heroText {
  color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.heroText h1 {
  background-image: linear-gradient(to left, #f95bf6, #532cf9);
  background-clip: text;
  color: transparent;
  font-size: 80px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.heroText h2 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.heroText #subText {
  font-size: 20px;
  max-width: 500px;
  margin-bottom: 100px;
  font-weight: 100;
}
.heroButtons {
  position: relative;
  top: -50px;
}
.heroButtons a {
  font-size: 25px;
  padding: 10px 10px;
  background-image: linear-gradient(to right, #f95bf6, #532cf9);
  border-radius: 30px;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  margin: 0px 10px;
}
.heroText #typedText {
  color: #f3e247;
  border-right: 3px solid #f3e247;
}

/* About Us Section */
.aboutUs {
  background-image: url(./assets/aboutUs.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 85vh;
  width: 100%;
  padding-top: 20px;
  display: flex;
}
.aboutUsHeading {
  font-size: 90px;
  font-weight: bold;
  color: white;
}

.aboutUsHeading h1 {
  padding: 20px;
}
.aboutUsContainer {
  height: 85vh;
  margin-left: 7%;
}
.aboutUsText {
  color: white;
  margin-top: 200px;
  margin-left: 30px;
  width: 90%;
  font-weight: lighter;
  flex: 1;
  font-size: 20px;
  text-align: justify;
}

.aboutUsCredentials {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 40rem;
  position: relative;
  top: 80px;
  left: 30px;
}
.cCard #cCardh {
  color: #f3e247;
  font-size: 80px;
  font-weight: bolder;
}
.cCard #cCardp {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
/* Services Section */
.services {
  background-color: #000000;
  text-align: center;
  min-height: 100vh;
}
.services::before,
.services::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
}

.services::before {
  width: 250px;
  height: 250px;
  top: 40%;
  left: 20%;
  background: rgba(255, 0, 150, 0.4);
}

.services::after {
  width: 300px;
  height: 300px;
  bottom: 15%;
  right: 20%;
  background: rgba(0, 150, 255, 0.4);
}
.serviceText {
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  background-image: linear-gradient(to right, #f95bf6, #532cf9);
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
  border-bottom: 5px solid #f3e247;
  padding-bottom: 5px;
}
.serviceCards {
  display: grid;
  height: 80vh;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.card {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  /* Glass effect core */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);

  color: #fff;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 15px;
}
.card:hover .card-title,
.card:hover .card-desc {
  color: #ffffff;
}
.card:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to right, #f95bf6, #532cf9);
  color: white;
}
.card-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 15px;
}
.card-title {
  background-image: linear-gradient(to right, #f95bf6, #532cf9);
  background-clip: text;
  color: transparent;
  font-size: 25px;
  font-weight: bold;

  margin-bottom: 10px;
}
.card-desc {
  font-size: 20px;
  color: #ffffff;
}

/* Gallery */
.carousel {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  max-width: none;
  overflow: hidden;
  display: flex;
}

.carousel > * {
  flex: 0 0 100%;
}

.group {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  animation: scrolling 120s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.gcard {
  flex: 0 0 auto;
  width: 500px;
  height: 400px;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  overflow: hidden;
}

.gcard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  width: 100%;
  background-color: #000000;
}
.gallery h1 {
  background-image: linear-gradient(to right, #f95bf6, #532cf9);
  background-clip: text;
  color: transparent;
  border-bottom: 5px solid #f3e247;
  padding: 10px;
  margin-bottom: 30px;
  display: inline-block;
  font-size: 50px;
}

/* Enquiry Section */
.enquiry {
  min-height: auto;
  width: 100vw;
  background-color: #000000;
  text-align: center;
}
.enquiryText {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  background-image: linear-gradient(to right, #f95bf6, #532cf9);
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
  border-bottom: 5px solid #f3e247;
  padding-bottom: 5px;
  padding-top: 30px;
}
.enquiryContainer {
  display: flex;
  min-height: 60vh;
}
.enquiryForm {
  text-align: start;
  padding: 10px 30px;
  flex: 1;
}
.enquiryForm form input,
select,
textarea {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  display: block;
  padding: 10px 20px;
  border-radius: 20px;
  width: 80%;
  font-size: 20px;
}
.enquiryForm form input,
select,
textarea::placeholder {
  color: #ffffff;
  background-color: #00000031;
}
.enquiryForm form label {
  margin-top: 20px;
  font-size: 20px;
  color: white;
}
.enquiryForm form button {
  padding: 10px 20px;
  border: none;
  background-image: linear-gradient(to right , #f95bf6, #532cf9 );
  color: #ffffff;
  font-size: 25px;
  transition: color 0.3s ease-in-out;
}

.enquiryForm button:hover {
  background-image: linear-gradient(to right , #000000, #000000 );
  border: 3px solid #f95bf6;
  cursor: pointer;
  color: #f95bf6;
}

.enquiryAddress {
  text-align: start;
  padding: 10px 30px;
  flex: 1;
}
.enquiryAddress p {
  margin-top: 20px;
  font-size: 20px;
  color: grey;
}
.enquiryAddress h1 {
  margin-top: 20px;
  font-size: 20px;
  color: white;
}
.enquiryAddress iframe {
  margin-top: 20px;
  width: 90%;
  height: 50vh;
  display: block;
  margin-bottom: 30px; /* fix overlap */
  position: relative;
  z-index: 1;
}

/* Feedback */
.feedback {
  min-height: auto;
  text-align: center;
  z-index: 0;
  width: 100vw;
  background-color: #000000;
}
.feedbackText {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-width: fit-content;
  display: inline-block;
  background-image: linear-gradient(to right, #f95bf6, #532cf9);
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
  padding-bottom: 5px;
  padding-top: 30px;
}
.feedbackText h1 {
  border-bottom: 5px solid #f3e247;
  display: inline-block;
}

/* Footer */
.footer {
  position: relative;
  height: auto;
  width: 100%;
  background-image: url(assets/footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 10px;
}
.footerContainer {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 100%;
}
.footerLogo {
  position: relative;
  left: -50px;
  padding-top: 40px;
  width: fit-content;
}
.footerIcons {
  color: white;
  font-size: 30px;
  padding: 10px;
  padding-top: 100px;
  width: 200px;
}
.footerIcons a {
  color: white;
  font-size: 25px;
}
.footerText {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
}
.footerLinks {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  color: #ffffff;
}
.footerLinks a {
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
.fade-section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
  visibility: hidden;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
body {
  padding-top: 100px;
}

@media (min-width: 769px) and (max-width: 1400px) {
  html {
    scroll-padding-top: 100px;
  }

  .hero {
    gap: 50px;
    min-height: 85vh;
    width: 100%;
    background-image: url("./assets/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 50px 0 50px;
  }
  .heroText h1 {
    width: 100%;
    font-size: 60px;
  }
  .heroText #subHeading {
    font-size: 30px;
    width: 100%;
  }
  .heroText #subText {
    font-size: 20px;
    width: 100%;
    font-weight: 100;
  }

  #subTextContainer {
    height: fit-content;
    width: 400px;
  }

  .heroButtons {
    top: -70px;
    position: relative;
  }
  .heroButtons a {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    margin: 0px 10px;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 100px;
  }
  /* Navbar */
  .navbar {
    flex-direction: column;
    height: 100px;
    box-shadow: 3px 3px 5px black;
  }
  .navbarLogo {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .navbarButtons {
    display: none;
    overflow-y: hidden;
    width: 100%;
    padding: 3px 3px;
    margin-bottom: 10px;
  }
  .navbarButtons a {
    font-size: 16px;
    margin: 5px;
    padding: 8px 8px;
    display: inline-block;
    box-shadow: 1px 1px 2px black;
  }
  .menuButton {
    display: block;
    position: absolute;
    top: 35px;
    right: 45px;
    cursor: pointer;
    font-size: 24px;
  }
  .menuButton span {
    display: block;
    color: #f3e247;
    transform: rotate(0deg);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
  }

  .menuLinks {
    display: flex;
    color: #f3e247;
    position: fixed;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    align-items: center;
    transform: translateX(100%);
    flex-direction: column;
    top: 100px;
    left: 0px;
    background-image: url(assets/aboutUsMobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    width: 100%;
  }

  .menuLinks a {
    margin-top: 15px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 1px 1px 1px black;
  }

  .menuLinks h2 {
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: 200px;
    text-align: center;
  }
  .menuLinks a:hover {
    color: #f3e247;
  }
  .menuLinks.active {
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }
  .menuButton.active span:nth-child(1) {
    transform: rotate(45deg) translate(6.5px, 6.5px);
  }
  .menuButton.active span:nth-child(2) {
    opacity: 0;
  }
  .menuButton.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6.5px, -6.5px);
  }

  .mobIcons {
    display: flex;
    flex-direction: column;
    z-index: 999;
    position: fixed;
    top: 75%;
    right: -5%;
    height: 100px;
    width: 100px;
    animation: float 0.5s ease-in-out infinite;
  }
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .mobIcons a {
    box-shadow: 2px 2px 5px black;
    text-decoration: none;
    border-radius: 50%;
    /* background-color: #ffffff; */
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .mobIcons #whatsapp {
    color: #ffffff;
    background-color: #33b133;
  }
  .mobIcons #telephone {
    color: #ffffff;
    background-color: blueviolet;
  }
  /* Hero */
  .hero {
    scroll-margin-top: 150px;
    background-image: url("./assets/heroMobile.png");
    min-height: 80vh;
  }
  .heroText h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
  }
  .heroText #subHeading {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .heroText #subText {
    font-size: 15px;
    width: 100%;
    text-align: justify;
    font-weight: 200;
  }
  #subTextContainer {
    height: 100px;
    position: relative;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroButtons {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .heroButtons a {
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    margin: 0px 10px;
  }

  /* About Us */
  .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 100%;
    background-image: url(assets/aboutUsMobile.png);
  }
  .aboutUsHeading {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: fit-content;
    border-bottom: 5px solid #f3e247;
  }

  .aboutUsHeading h1 {
    padding: 0;
    display: inline-block;
  }

  .aboutUsContainer {
    margin-left: 0px;
  }

  .aboutUsText {
    margin-top: 0;
    width: 90%;
    margin-left: 5%;
    margin-top: 40%;
    font-size: 15px;
  }

  .aboutUsCredentials {
    width: 100%;
    left: 0px;
    top: 70px;
  }
  .cCard #cCardh {
    font-size: 25px;
  }
  .cCard #cCardp {
  }

  /* Services */
  .serviceText {
    font-size: 15px;
  }
  .serviceCards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-top: 30px;
    padding: 20px;
    height: auto;
  }
  .card {
    max-width: 100%;
  }
  .card-title {
    font-size: 16px;
  }
  .card-desc {
    font-size: 16px;
  }
  .card:hover .card-title,
  .card:hover .card-desc {
    color: #ffffff;
  }
  .card:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    color: white;
  }

  /* Enquiry */
  .enquiryText {
    font-size: 15px;
  }
  .enquiryContainer {
    flex-direction: column;
    gap: 30px;
  }
  .enquiryForm,
  .enquiryAddress {
    padding: 15px;
  }
  .enquiryForm form input,
  select,
  textarea {
    width: 100%;
  }
  .enquiryAddress iframe {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }

  .feedbackText {
    font-size: 15px;
  }

  /* Footer */
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footerLogo {
    left: 0;
    top: 25px;
    margin-bottom: 15px;
    padding-top: 0;
  }
  .footerIcons {
    padding-top: 10px;
    font-weight: bolder;
  }
  .footerIcons a {
    font-size: 16px;
  }
  .footerLinks {
    padding-top: 20px;
  }
  .footerLinks a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
  }
  .gcard {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    overflow: hidden;
  }
  .gallery h1 {
    background-clip: text;
    color: transparent;
    border-bottom: 5px solid #f3e247;
    padding: 10px;
    margin-bottom: 30px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .hero {
    min-height: 90vh;
  }
  .heroText {
    margin-top: 30px;
  }
  .heroText h1 {
    font-size: 100px;
    font-weight: bolder;
    margin-bottom: 30px;
  }

  .heroText h2 {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 30px;
  }

  .heroText h3 {
    font-size: 50px;
    max-width: 500px;
    margin-bottom: 100px;
    font-weight: 100;
  }

  .heroText #typedText {
    color: #f3e247;
    border-right: 3px solid #f3e247;
  }
  .aboutUsHeading h1 {
    font-size: 200px;
  }
  .aboutUsContainer {
  }
  .aboutUsText {
    width: 80%;
    margin-left: 180px;
    margin-top: 300px;
  }

  .aboutUsCredentials {
    top: 150px;
    left: 230px;
  }

  /* Gallery */

  .group {
    height: 50vh;
    margin-bottom: 150px;
    display: flex;
    gap: 20px;
  }
  .gallery {
    height: 85vh;
  }
  .gallery h1 {
    padding: 10px;
    margin-bottom: 150px;
    font-size: 60px;
  }
}
